[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/valentyn-yakovlev
[access "refs/for/refs/*"]
	read = group user/valentyn-yakovlev
	push = group user/valentyn-yakovlev
	label-Code-Review = -2..+2 group user/valentyn-yakovlev
	label-Verified = -1..+1 group user/valentyn-yakovlev
	rebase = group user/valentyn-yakovlev
	removeReviewer = group user/valentyn-yakovlev
	submit = group user/valentyn-yakovlev
[access "refs/heads/*"]
	read = group user/valentyn-yakovlev
	create = group user/valentyn-yakovlev
	push = +force group user/valentyn-yakovlev
	pushMerge = group user/valentyn-yakovlev
[access "refs/tags/*"]
	push = group user/valentyn-yakovlev
	push = +force group user/valentyn-yakovlev
